@font-face {
  font-family: Meows;
  src: url("./assets/fonts/meows.ttf");
}

body {
  color: #6a515e;
  background-color: #fef8f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  font-family: Meows, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

nav {
  color: inherit;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px #00000017;
}

nav > a {
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  padding: 8px 0;
}

footer {
  display: flex;
  justify-content: center;
  padding: 8px;
  box-shadow: 0 -2px #00000017;
}

footer h2 {
  font-weight: 400;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: center;
  color: inherit;
}

main > div {
  width: calc(33.33% - 2rem);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 40px;
  height: 300px;
  min-width: 260px;
  max-width: 300px;
  color: inherit;
  border: 1px solid #6a515e;
  overflow: hidden;
}

main > div:nth-child(1),
main > div:nth-child(2),
main > div:nth-child(3) {
  margin-bottom: 0;
}

.card > img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card * {
  color: inherit;
  font-weight: bold;
  text-align: center;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.more {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.details:hover .more {
  max-height: 500px;
  transition: max-height 0.2s ease-in-out;
}

.card-back-drop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #6a515e00;
  pointer-events: none;
  transition: background-color 0.2s ease-in-out;
}

.card-back-drop:hover {
  background-color: #6a515e6b;
}

.details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 40px 0 38px 38px;
  padding: 1rem;
  pointer-events: auto;
}

.description {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 8px;
}

.more > .btns > a {
  color: #6a515e;
  text-decoration: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  border: 3px solid black;
  max-height: 100%;
  overflow: auto;
}

.popup-image {
  max-width: 90%;
}

.close-button {
  position: absolute;
  cursor: pointer;
}

.popup-image img {
  max-width: 100%;
  max-height: 50vh;
  align-self: center;
}

.popup-txt {
  text-align: center;
}

.popup-txt h2 {
  font-size: 6rem;
  font-weight: normal;
}

.popup-txt h3 {
  font-size: 2rem;
  font-weight: normal;
}

.popup-txt p {
  font-size: 2rem;
}

.loader {
  font-weight: bold;
  animation: opacity-change 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes opacity-change {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
